.home-root {
  .home-wrapper {
    .home-container {
      width: 85%;
      margin: 0 auto;
      padding: 30px 0 0 0;
    }
  }
}

.date-select-block {
  margin: 0 0 50px;
  select {
    width: 15%;
    height: 50px;
    padding: 0 10px 0 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 5px;
    border: none;
    transition: all .2s ease-in-out;

    &:focus {
      box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.33);
    }

    option {
      font-size: 18px;
      font-family: Arial;
      font-weight: 500;
      letter-spacing: .5px;
      border: 1px solid yellow;
    }

    &:after {
      font-size: 88px;
    }
  }
}

.table-block {
  width: 40%;
  display: flex;
  .left-block{
    flex: 2;
    .left-item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #000;
    }
  }
  .mid-block{
    flex: 2;
    .mid-item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #000;
    }
  }
  .right-block{
    flex: 4;
    .right-item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 1px solid #000;
    }
  }









  //.table-item {
  //  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.33);
  //  display: flex;
  //  //border: 1px solid #000;
  //  width: 40%;
  //  .icon-item {
  //    display: flex;
  //    flex: 2;
  //    justify-content: center;
  //    align-items: center;
  //    //background-color: red;
  //    padding: 10px 20px;
  //    border: 1px solid #000;
  //  }
  //  .nation-item {
  //    display: flex;
  //    flex: 2;
  //    justify-content: center;
  //    align-items: center;
  //    //background-color: green;
  //    padding: 10px 20px;
  //    border: 1px solid #000;
  //
  //  }
  //  .rates-item {
  //    display: flex;
  //    flex: 5;
  //    justify-content: center;
  //    align-items: center;
  //    //background-color: blue;
  //    padding: 10px 20px;
  //    border: 1px solid #000;
  //  }
  //  p{
  //    font-weight: bold;
  //  }
  //  i{
  //
  //  }
  //}
}
